* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

textarea:focus,
input:focus {
  outline: none;
}

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background: rgb(35, 20, 51);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.kanji {
  cursor: default;
  font-family: "Noto Sans JP", sans-serif;
  color: rgb(224, 224, 206);
  min-width: 150px;
  min-height: 250px;
  max-width: 350px;
  max-height: 100vh;
  margin: 50px;
  /*scroll*/
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.symbol {
  cursor: pointer;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
  padding: 0px;
  margin: 0px 20px;
  font-size: 200px;
}

.reading {
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 19px;
}

#kun-reading {
  margin-bottom: 8px;
}

.meaning p {
  font-family: "Roboto Medium", sans-serif;
  font-weight: 500;
  font-size: 23px;
  margin: 15px 30px 10px 30px;
  padding: 0px;
}

.meta-data {
  font-family: "Roboto Light", sans-serif;
}

.radical,
/* .parts, */
.frequency {
  font-size: 16px;
  padding-bottom: 0.15em;
}

.radical {
  cursor: pointer;
  padding-bottom: 10px;
}

.radical:hover,
.radical:focus {
  color: #b42f55;
}

/* .parts {
  font-size: 14px;
  padding-bottom: 10px;
} */

.frequency {
  font-size: 14px;
}

.related {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  font-size: 20px;
  margin: 20px auto;
  max-width: 192px;
  height: 152px;
  overflow: hidden;
}

.related-kanji {
  /* display: inline-block; */
  height: 30px;
  width: 24px;
  cursor: grab;
  border: 1px solid;
  padding: 2px;
  margin: 1px 1px;
}

.related-kanji:hover {
  background: #2fbbb4;
  color: rgb(224, 224, 206);
}

#tree {
  display: none;
  font-family: "Oxygen Mono", monospace;
  color: #c1e8e4;
  margin-top: 60px;
  font-size: 25px;
  padding: 10px;
  justify-content: center;
  max-height: 100vh;
  min-width: 270px;
  max-width: 320px;
  text-align: left;
  white-space: pre-wrap;
  line-height: 1.5em;
  letter-spacing: -0.1em;
}

.kanji-words {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-height: 90vh;
  margin-top: 50px;
  padding: 5px;
  /*scroll*/
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.kanji-words::after {
  content: "";
  margin: 0px 0px 110px 0px;
  flex: 0 0 0;
}

.jap-word {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 22px;
}

.jap-reading {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  margin-bottom: -4px;
}

.jap-reading:hover,
.jap-word:hover,
.eng-word:hover {
  color: #b42f55 !important;
}

.eng-word {
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
  margin-bottom: 13px;
}

.sidebar {
  /* border-left: 1px solid #e0e0ce; */
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  right: 18px;
  width: 20vw;
  height: 100vh;
  text-align: left;
  padding-left: 10px;
  margin: 100px 65px 100px 100px;
  color: rgb(224, 224, 206);
  /*scroll*/
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar::after {
  content: "";
  margin: 0px 0px 110px 0px;
  flex: 0 0 0;
}

.jap-sentence {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 17px;
}

.eng-sentence {
  font-family: "Roboto Light", sans-serif;
  padding-bottom: 10px;
  font-size: 14px;
}

.jap-sentence:hover,
.eng-sentence:hover {
  color: #b42f55;
}

#sidebar-button {
  position: fixed;
  top: 106px;
  right: 15px;
  width: 20px;
  height: 3px;
  border-top: 9px double #2fbbb4;
  border-bottom: 3px solid #2fbbb4;
}

#sidebar-button:hover {
  border-top: 9px double #b42f55;
  border-bottom: 3px solid #b42f55;
  cursor: pointer;
}

#kanji-control {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: visibility 0s, opacity 1.2s linear;
  transition-delay: 1.8s;
}

#kanji-control:hover {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s linear;
}

#kanji-control input {
  border: none;
  padding: 4px;
  text-align: center;
}

#input-kanji,
#create-kanji,
#kanji-toggle,
#dark-mode-btn,
#kanji-counter {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  border: none;
  width: 32px;
  height: 32px;
  padding: 4px;
}

#input-kanji {
  background-color: rgb(213, 255, 241);
  font-family: "Roboto Medium", sans-serif;
  width: 64px;
  height: 24px;
}

#input-kanji:hover,
#input-kanji:focus {
  background: #cccbf7 !important;
}

#input-kanji::placeholder {
  font-family: "Noto Sans JP Medium", sans-serif;
  font-size: 14px;
  color: rgb(35, 20, 51);
  opacity: 0.9;
}

#create-kanji {
  background-color: #c1e8e4;
  color: rgb(35, 20, 51);
}

#create-kanji:hover {
  background-color: #cccbf7 !important;
}

#dark-mode-btn {
  background-color: #c1e8e4;
}

#dark-mode-btn:hover {
  background-color: #cccbf7 !important;
}

.fa {
  font-weight: 700;
  color: rgb(35, 20, 51);
}

#kanji-counter {
  font-family: "Roboto", sans-serif;
  background-color: #c1e8e4;
  /* background-color: rgb(255, 231, 196); */
  /* background-color: #ffe4c4; */
  /* background-color: #fbdfbb; */
  /* background-color: rgb(247, 183, 104); */
  color: rgb(35, 20, 51);
  border: none;
  padding: 0px;
  width: 48px;
  height: 24px;
}

#kanji-counter:hover,
#kanji-counter:focus {
  background-color: #cccbf7 !important;
}

#kanji-counter::placeholder {
  font-family: "Noto Sans JP Medium", sans-serif;
  font-size: 14px;
  opacity: 0.9;
}

.highlight-search {
  color: #c32a2a !important;
}

/*kanji-counter appearance
–––––––––––––––––––––––––*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
/*––––––––––––––––––––––––*/

#kanji-stash {
  color: #2fbbb4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  padding: 0px;
  margin: 100px 100px;
  width: 20vw;
  height: 100vh;
  font-size: 16px;
  letter-spacing: 0.2em;
  /*scrollbar*/
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#kanji-stash::after {
  content: "";
  margin: 0px 0px 130px 0px;
  flex: 0 0 0;
}

.kanji-list {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: rgb(47, 187, 180);
}

.kanji-list:hover {
  color: #b42f55 !important;
}

#search-kanji {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 0;
  top: 0;
  background-color: #231433f2;
  transition: 0.3s;
}

.search-overlay-kanji {
  font-family: "Roboto Medium", sans-serif;
  color: #2fbbb4;
  width: 100%;
  text-align: left;
  margin: 35px 25px;
}

.searched-kanji {
  cursor: pointer;
  padding: 5px;
  font-size: 25px;
  border: 1px solid;
  width: fit-content;
  margin: 10px 10px;
  transition: 0.3s;
}

.searched-kanji:hover,
.searched-kanji:focus {
  color: #b42f55;
}

.searched-meaning {
  font-size: 15px;
  margin-left: 10px;
  transition: 0.3s;
}

.searched-freq {
  color: #f7b768;
  font-size: 13px;
  margin-left: 10px;
}

.searched-meaning:hover,
.searched-meaning:focus {
  color: #b42f55;
}

.search-overlay .closebtn {
  display: none;
}

.search-overlay .closebtn-show {
  display: flex;
  position: fixed;
  top: 15px;
  right: 30px;
  font-size: 40px;
  color: #2fbbb4;
}

.search-overlay .closebtn-show:hover,
.search-overlay .closebtn-show:focus {
  cursor: pointer;
  color: #b42f55 !important;
}

/* .open-search {
  position: fixed;
  width: 20px;
  height: 3px;
  border-top: 9px double #2fbbb4;
  border-bottom: 3px solid #2fbbb4;
  bottom: 10px;
  right: 50%;
  cursor: pointer;
} */

/*–––––––––––––––––––––––*/
/*–––––MEDIA-QUERIES–––––*/

@media screen and (width <= 750px) {
  .kanji {
    justify-content: center;
    align-items: center;
    margin: 0%;
  }

  .symbol {
    font-size: 125px;
  }

  .reading {
    font-size: 17px;
  }

  .meaning p {
    margin: 10px 10px;
    font-size: 20px;
  }

  .radical,
  .parts {
    font-size: 14px;
  }

  .parts {
    padding-bottom: 0.25em;
  }

  .frequency {
    font-size: 12px;
  }

  .kanji-words {
    margin-top: 50px;
    height: 47.5vh;
  }

  .jap-reading {
    font-size: 10px;
    margin-bottom: -3px;
  }

  .jap-word {
    font-size: 18px;
  }

  .jap-reading {
    font-size: 10px;
    margin-bottom: -4px;
  }

  .jap-sentence {
    font-size: 16px;
  }

  .eng-sentence {
    font-size: 13px;
  }

  #tree {
    margin-top: 45px;
    font-size: 16px;
    padding: 0px;
    max-height: 60vh;
  }

  #kanji-stash {
    height: 40vh;
    width: 80vw;
    bottom: 0;
    left: 0;
    margin: 0% 10%;
  }
  #search-kanji {
    width: 100%;
  }

  .search-overlay-kanji {
    margin: 15px 5px;
  }

  .searched-kanji {
    font-size: 20px;
    padding: 3px;
  }
  .searched-meaning {
    font-size: 13px;
    margin-left: 5px;
    line-break: normal;
  }
  .search-overlay .closebtn-show {
    position: fixed;
    top: 95%;
    right: 15px;
    font-size: 30px;
  }
}

@media screen and (width <= 970px) {
  .kanji {
    margin-left: 25%;
  }

  .symbol {
    font-size: 150px;
  }

  .kanji-words {
    margin-top: 50px;
  }

  #input-kanji {
    width: 24px;
  }

  #input-kanji:focus {
    width: 40px;
  }

  #kanji-counter {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    max-width: 24px;
    font-size: 0.65em;
  }

  #kanji-control {
    z-index: -1;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 85%;
    left: 0;
  }

  .sidebar {
    margin-top: 60px;
    right: 0;
    text-align: center;
    padding: 0px;
  }

  #sidebar-button {
    top: 1%;
    right: 50%;
    left: 50%;
  }

  .open-search {
    right: 10px;
  }

  .kanji-list {
    font-size: 16px;
  }
}

@media screen and (width <= 1090px) {
  .symbol {
    margin: 20px 10px 0px 10px;
    font-size: 150px;
  }

  .reading {
    font-size: 17px;
  }

  .meaning p {
    font-size: 22px;
  }

  #kanji-stash {
    margin: 100px 50px 100px 100px;
    height: 100vh;
  }
}

@media screen and (width <= 1200px) {
  .kanji {
    max-width: 300px;
  }
}
